<div class="container">
  <div class="row justify-content-md-left mt-4">
    <div class="column">
      <div class="ebook-detail-image">
        <%= gravatar_for @user, size: 200 %>
        <div class="text-center mt-4">
          <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-danger" %>
          <%= link_to "Delete", user_path(@user), class: "btn btn-outline-danger", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure?"} %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ebook-detail-text">
        <h2><%= @user.name %></h2>
        <p><strong> Username: </strong>
          <%= @user.username %>
        </p>
        <p><strong> Status: </strong>
          <%= @user.status.capitalize %>
        </p>
      </div>
    </div>
  </div>
  <% if !@ebooks.blank? %>
    <div class="row justify-content-md-left mt-4">
      <h2> My Ebooks </h2>
      <table class="table">
        <tbody>
          <% @ebooks.each do |ebook| %>
            <tr>
              <td>
                <%= link_to ebook.title, ebook %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
