<div class="container">
  <div class="row justify-content-md-left mt-4">
    <div class="column">
      <div class="ebook-detail-image">
        <div class="shadow p-3 mb-3 bg-white border border-light rounded">
          <% if user.avatar.attached? %>
              <%= cl_image_tag "profiles/#{user.avatar.key}", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"],  width: 200, crop: "fill" %>
          <% else %>
            <%= cl_image_tag "profiles/default_avatar_j9qcnm.jpg", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"], width: 200, crop: "fill"%>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to "Edit User", edit_user_path(user), class: "btn btn-outline-danger" %>
          <%= link_to "Delete User", user_path(user), class: "btn btn-outline-danger", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure?"} %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ebook-detail-text">
        <h2><%= user.name %></h2>
        <p><strong> Username: </strong>
          <%= user.username %>
        </p>
        <p><strong> Status: </strong>
          <%= user.status.capitalize %>
        </p>
      </div>
    </div>
  </div>
  <% if !ebooks.blank? %>
    <div class="row justify-content-md-left mt-4 ebook-detail-text">
      <h2> My Ebooks </h2>
      <table class="table">
        <tbody>
          <% ebooks.each do |ebook| %>
            <tr>
              <td class="align-middle text-left">
                <% if ebook.image.attached? %>
                  <%= cl_image_tag  "ebooks/#{ebook.image.key}", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"], width: 50, crop: "fill" %>
                <% else %>
                  <%= cl_image_tag "ebooks/default_image_prdz6a.jpg", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"], width: 50, crop: " "%>
                <% end %>
              </td>
              <td class="align-middle text-left w-100">
                <%= link_to ebook.title, ebook, class: "ebook-detail-text a-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
