<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="column">
      <div class="ebook-detail-image">
        <div class="shadow p-3 mb-3 bg-white border border-light rounded">
          <% if ebook.image.attached? %>
            <%= cl_image_tag( "ebooks/#{ebook.image.key}", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"],  width: 400, crop: "fill") %>
          <% else %>
            <%= cl_image_tag "ebooks/default_image_prdz6a.jpg", version: ENV["CLOUD_EBOOKS_FOLDER_VERSION"], width: 400, crop: "fill"%>
          <% end %>
        </div>
        <% if current_user&.admin? %>
          <div class="text-center mt-4">
            <%= link_to "Edit Ebook", edit_ebook_path(ebook), class: "btn btn-outline-danger" %>
            <%= link_to "Delete Ebook", ebook_path(ebook), class: "btn btn-outline-danger", data: {"turbo-method": :delete, "turbo-confirm": "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="ebook-detail-text">
        <h2><%= ebook.title %></h2>
        <p><strong> Author: </strong>
          <%= authors %>
        </p>
        <p><strong> Status: </strong>
          <%= ebook.status.capitalize %>
        </p>
        <p>
          <strong> Release: </strong>
          <%= ebook.date_release %>
          <br/>
          <strong> No. of pages: </strong>
          <%= ebook.num_pages %>
        </p>
        <div class="description">
          <strong> Description: </strong>
          <%= ebook.description %>
        </div>

        <% if ebook.files.attached? %>
          <div class="text-left mt-4">
            <strong> Price: </strong>
            <p class="price">
              <%= number_to_currency_eur(ebook.price) %>
            </p>
          </div>
          <div class="justify-content-md-center mt-4">
            <%= link_to("Launch this book", cl_signed_download_url("ebooks_files/"+ebook.files.key, attachment: true), {class: "btn btn-danger", target: '_blank' }) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

